{% extends 'base.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ asset('/css/app.css') }}" />
{% endblock %}
{% block title %}Welcome on Wine!
{% endblock %}
{% block body %}
{% for message in app.flashes('failure')%}
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Quantité indisponible</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{{ message }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Understood</button>
			</div>
		</div>
	</div>
</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<script type="text/javascript">
	$('#staticBackdrop').modal('show');
</script>
{% endfor %}
<section class="container-fluid">
	<!-- {% include 'partials/carousel.html.twig' %} -->
	<div class="row">
		<div class="col-2">
			{% include 'partials/sidebar.html.twig' %}
		</div>
		<div class="col-10">
			<div class="card mt-2 mb-3 bg-secondary">
				<div class="card-body text-white display-4 text-center">
					Top Ventes
				</div>
			</div>
			<div class="row">
				{% for product in topThreeProducts %}
				<div class="col-md-4 d-flex mb-3">
					{% include 'partials/product-card.html.twig' %}
				</div>
				{% endfor %}
			</div>
			<div class="card mt-2 mb-3 bg-secondary">
				<div class="card-body text-white display-4 text-center">
					Tous les produits
				</div>
			</div>
			<div class="row">
				{% if filteredProducts is defined and filteredProducts is not null %}
				{% for product in filteredProducts %}
				<div class="col-md-4 d-flex justify-content-center mb-3">
					{% include 'partials/product-card.html.twig' %}
				</div>
				{% endfor %}
				{% else %}

				{% for product in allTheProducts %}
				<div class="col-md-4 d-flex justify-content-center mb-3">
					{% include 'partials/product-card.html.twig' %}
				</div>
				{% endfor %}

				{% endif %}
			</div>
			<div class="pagination d-flex justify-content-center mt-2">
				{{ knp_pagination_render(allTheProducts) }}
			</div>
		</div>
	</div>

</section>
{% endblock %}