{% extends 'base.html.twig' %}
{% block title %}Welcome on Wine!{% endblock %}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('product-card')}}
{{ encore_entry_script_tags('home') }}
{% endblock %}
{% block body %}
{% for message in app.flashes('failure')%}
{% include "partials/modal.html.twig" %}
{% endfor %}

<section id="home-container" class="container-fluid mt-5">
	<div id="homeMenu-section">
		<div id="homeMenu">
			{% include 'partials/sidebar.html.twig' %}
		</div>
	</div>
	<div id="homeProducts-section" class="pl-2 d-column-centered">
		<button id="home-filterButton" class="mb-3">Filtrer</button>
		<section id="top3product-section">
			<div class="product-title-container bons-plans-container">
				<div class="section-product-title-container">
					<div class="line-title left">
					</div>
					<div class="title">
						<h2>3 BONS PLANS</h2>
					</div>
					<div class="line-title right">
					</div>
				</div>
				<div class="catch-phrase">
					<p>Pour acheter du vin les yeux fermés</p>
				</div>
				<div class="section-description">
					<p>Destockage, meilleures ventes, coups de coeur, ventes privées… Vinatis vous propose une foire aux
						vins permanente pour acheter votre vin en toute confiance et épater vos amis lors de vos
						réceptions.</p>
				</div>
			</div>
			<div id="top3products-wrapper">
				{% for product in topThreeProducts %}
				{% include 'partials/product-card.html.twig' %}
				{% endfor %}
			</div>
		</section>
		<div id="allproducts-title" class="product-title-container bons-plans-container">
			<div class="section-product-title-container">
				<div class="line-title left">
				</div>
				<div class="title">
					<h2>TOUS LES PRODUITS</h2>
				</div>
				<div class="line-title right">
				</div>
			</div>
			<div class="section-description">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus est quibusdam et laboriosam sed
					ut ad nihil doloremque odit excepturi recusandae repellendus dolorem dignissimos quam nobis,
					dolorum accusantium. Recusandae reprehenderit qui, delectus sequi ex consequatur non quibusdam
					facere eos! Magnam.</p>
			</div>
		</div>
		<div class="row">
			{% if filteredProducts is defined and filteredProducts is not null %}
			{% for product in filteredProducts %}
			<div class="col-md-4 d-flex justify-content-center mb-3">
				{% include 'partials/product-card.html.twig' %}
			</div>
			{% endfor %}
			{% else %}

			{% for product in allTheProducts %}
			<div class="col-md-4 d-flex justify-content-center mb-3">
				{% include 'partials/product-card.html.twig' %}
			</div>
			{% endfor %}

			{% endif %}
		</div>
		<div class="pagination d-flex justify-content-center mt-2">
			{{ knp_pagination_render(allTheProducts) }}
		</div>
	</div>
	</div>
</section>
{% endblock %}