{% extends '/home/base_home.html.twig' %}

{% block body %}
{% if top3GoodPlans is defined and top3GoodPlans is not null %}
<section id="top3-goodplans" class="top3-section mb-3">
	<div class="top3-infos mb-3">
		<div class="top3-title section-product-title-container">
			<div class="line-title left">
			</div>
			<div class="title">
				<h2>3 BONS PLANS</h2>
			</div>
			<div class="line-title right">
			</div>
		</div>
		<div class="catch-phrase">
			<p>Pour acheter du vin les yeux fermés</p>
		</div>
		<div class="section-description">
			<p>Destockage, meilleures ventes, coups de coeur, ventes privées… Vinatis vous propose une foire aux
				vins permanente pour acheter votre vin en toute confiance et épater vos amis lors de vos
				réceptions.</p>
		</div>
	</div>
	<div class="top3-products full-w">
		<div class="row">
			{% for product in top3GoodPlans %}
			<div class="col-md-4 d-flex justify-content-center mb-3">
				{% include 'partials/product-card.html.twig' with {product: product} only %}
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
{% if top3RedWineSelection is defined and top3RedWineSelection is not null %}
<section id="top3-red-wine-selection" class="top3-section my-5">
	<div class="top3-infos mb-3">
		<div class="top3-title section-product-title-container">
			<div class="line-title left">
			</div>
			<div class="title">
				<h2>TOP 3 SELECTION VINS ROUGES</h2>
			</div>
			<div class="line-title right">
			</div>
		</div>
		<div class="catch-phrase">
			<p>Notre sélection des meilleurs vins Rouges</p>
		</div>
		<div class="section-description">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda similique alias ex nostrum vitae?
				Laudantium iusto odio praesentium a, rem dicta qui reiciendis, totam molestias provident dolor expedita
				ducimus illum id! Perferendis tempora ea nostrum a iusto quibusdam unde. Reiciendis!</p>
		</div>
	</div>
	<div class="top3-products full-w">
		<div class="row">
			{% for product in top3RedWineSelection %}
			<div class="col-md-4 d-flex justify-content-center mb-3">
				{% include 'partials/product-card.html.twig' with {product: product} only %}
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
{% if top3GrandsCrusSelection is defined and top3GrandsCrusSelection is not null %}
<section id="top3-grands-crus-selection" class="top3-section my-5">
	<div class="top3-infos mb-3">
		<div class="top3-title section-product-title-container">
			<div class="line-title left">
			</div>
			<div class="title">
				<h2>TOP 3 SELECTION GRANDS CRUS</h2>
			</div>
			<div class="line-title right">
			</div>
		</div>
		<div class="catch-phrase">
			<p>Notre sélection de nos meilleurs Grands Crus</p>
		</div>
		<div class="section-description">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda similique alias ex nostrum vitae?
				Laudantium iusto odio praesentium a, rem dicta qui reiciendis, totam molestias provident dolor expedita
				ducimus illum id! Perferendis tempora ea nostrum a iusto quibusdam unde. Reiciendis!</p>
		</div>
	</div>
	<div class="top3-products full-w">
		<div class="row">
			{% for product in top3GrandsCrusSelection %}
			<div class="col-md-4 d-flex justify-content-center mb-3">
				{% include 'partials/product-card.html.twig' with {product: product} only %}
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
{% endblock body %}