<link rel="stylesheet" href="{{asset('build/myaccount-sidebar.css')}}">

<div id="myaccount-home" class="d-flex full-w myaccount-sidebar-item">
    <div class="sidebar-img">
    </div>
    <div class="sidebar-text">
        <p class="sidebar-menu-title">
            Accueil Mon Compte
        </p>
    </div>
</div>
<div id="mypurchaseguide" class="d-flex full-w myaccount-sidebar-item">
    <div class="sidebar-img">
    </div>
    <div class="sidebar-text">
        <p class="sidebar-menu-title">
            Mon Guide d'achat
        </p>
    </div>
</div>
<div id="my-orders" class="d-flex full-w myaccount-sidebar-item">
    <div class="sidebar-img">
    </div>
    <div class="sidebar-text">
        <p class="sidebar-menu-title">
            Mes Commandes
        </p>
    </div>
</div>
<div id="my-infos" class="d-flex full-w myaccount-sidebar-item">
    <div class="sidebar-img">
    </div>
    <div class="sidebar-text">
        <p class="sidebar-menu-title">
            Mes Infos
        </p>
    </div>
</div>
<div id="my-adresses" class="d-flex full-w myaccount-sidebar-item">
    <div class="sidebar-img">
    </div>
    <div class="sidebar-text">
        <p class="sidebar-menu-title">
            Mes Adresses
        </p>
    </div>
</div>
<div id="my-newsletter-preferences" class="d-flex full-w myaccount-sidebar-item">
    <div class="sidebar-img">
    </div>
    <div class="sidebar-text">
        <p class="sidebar-menu-title">
            Mes preferences Newsletter
        </p>
    </div>
</div>
<div id="my-reviews" class="d-flex full-w myaccount-sidebar-item">
    <div class="sidebar-img">
    </div>
    <div class="sidebar-text">
        <p class="sidebar-menu-title">
            Mes Avis
        </p>
    </div>
</div>
<div id="my-sponsorships" class="d-flex full-w myaccount-sidebar-item">
    <div class="sidebar-img">
    </div>
    <div class="sidebar-text">
        <p class="sidebar-menu-title">
            Mes Parrainages
        </p>
    </div>
</div>
<a href="{{path("favorite_show")}}" class="full-size">
    <div id="my-favorite-list" class="d-flex full-w myaccount-sidebar-item">
        <div class="sidebar-img">
        </div>
        <div class="sidebar-text">
            <p class="sidebar-menu-title">
                Ma liste de Favoris
            </p>
        </div>
    </div>
</a>
<div id="myaccount-deconnexion" class="d-flex full-w myaccount-sidebar-item">
    <div class="sidebar-img">
    </div>
    <div class="sidebar-text">
        <p class="sidebar-menu-title">
            Deconnexion
        </p>
    </div>
</div>