<div class="product-card">
    <img src="http://placehold.it/150x200" alt="beverage">
    <div class="product-card-info">
        <h4 class="product-title">Title</h4>
        <span class="product-liter">0.75 L</span>
        <span class="product-price">12,35 €</span>
    </div>
    <div class="cart">
        <span class="quantity">1</span>
        <a href="" class="btn add-to-cart-btn">Ajouter au Panier</a>
    </div>
</div>