<aside class="sidebar">
    <ul class="side-list">
        <p class="sidebar-title">Criteres de Tri</p>
        <li class="sidebar-items"><a class="sidebar-link" href="">prix</a></li>
        <li class="sidebar-items"><a class="sidebar-link" href="">Cepage</a></li>
        <li class="sidebar-items"><a class="sidebar-link" href="">text</a></li>
        <li class="sidebar-items"><a class="sidebar-link" href="">text</a></li>
        <li class="sidebar-items"><a class="sidebar-link" href="">text</a></li>
        <li class="sidebar-items"><a class="sidebar-link" href="">text</a></li>
        <li class="sidebar-items"><a class="sidebar-link" href="">text</a></li>
        <li class="sidebar-items"><a class="sidebar-link" href="">text</a></li>
        <li class="sidebar-items"><a class="sidebar-link" href="">text</a></li>
        <li class="sidebar-items"><a class="sidebar-link" href="">text</a></li>
    </ul>
</aside>