{% extends "base-myaccount.html.twig" %}

{% block body %}
<div id="hello-user" class="">
    <p class="title-account courgette font-color-orange">
        Bonjour {{app.user.firstname}} {{app.user.lastname}}
    </p>
</div>
<div id="main-section-first" class="d-flex main-section-floor">
    <div class="square-item">
        <p class="courgette font-color-grey square-item-title">
            Mes Infos
        </p>
    </div>
    <div class="square-item">
        <p class="courgette font-color-grey square-item-title">
            Mes Adresses
        </p>
    </div>
    <div class="square-item">
        <p class="courgette font-color-grey square-item-title">
            Besoin d'Aide ?
        </p>
    </div>
</div>
<div id="main-section-second" class="d-flex main-section-floor">
    <div class="square-item">
        <p class="courgette font-color-grey square-item-title">
            Mes Infos
        </p>
    </div>
    <div class="square-item">
        <p class="courgette font-color-grey square-item-title">
            Mes Adresses
        </p>
    </div>
    <div class="square-item">
        <p class="courgette font-color-grey square-item-title">
            Besoin d'Aide ?
        </p>
    </div>
</div>
<div id="main-section-third" class="d-flex main-section-floor">
    <div class="square-item">
        <p class="courgette font-color-grey square-item-title">
            Mes Infos
        </p>
    </div>
    <div class="square-item">
        <p class="courgette font-color-grey square-item-title">
            Mes Adresses
        </p>
    </div>
    <div class="square-item">
        <p class="courgette font-color-grey square-item-title">
            Besoin d'Aide ?
        </p>
    </div>
</div>
{% endblock %}