{% extends './home/home.html.twig' %}

{% block title %}Recherche de vins{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('search') }}
{% endblock javascripts %}

{% block body %}
{% for message in app.flashes('failure')%}
{% include "partials/modal.html.twig" %}
{% endfor %}
<div id="search-header" class="full-w mt-0">
    <h1 id="search-header-title">Recherche</h1>
    <hr>
</div>
<div id="product-section">
    {% for product in products %}
    {% include 'partials/product-card.html.twig' %}
    {% endfor %}
</div>
{% endblock %}