/***********************************************/
/* =========== 1.0 - Home Generals =========== */
/***********************************************/

#home-container {
    display: flex;
}
#homeMenu {
    padding-left: 1rem;
    padding-right: 1rem;
}
#homeMenu-section {
    margin-top: 0;
    display: block;
    padding-right: 0.5em;
    width: 20%;

}
#homeProducts-section {
    width: 80%;
}
p {
    margin-bottom: 0;
}

/* ====== 2.1 - Menu Section ======== */

.homeMenu-button {
    position: relative;
    border: none;
    box-shadow:none;
    height: 50px;
    text-transform: uppercase;
    align-content: flex-start;
    font-weight: 900;
    font-size: 1rem;
}
.homeMenu-button:active,
.homeMenu-button:focus,
.homeMenu-button:focus:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}
img.arrow {
    position: absolute;
    top: 50%; bottom: 50%;
    left: 85%; 
    height: 0.8rem;
    width: auto;
    margin-right: 0;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.rotated {    
    transform: translateX(-50%) translateY(-50%) rotate(180deg) !important; 
}
.homeMenu-filterselector {
    font-size: 12px;
    border-top: solid 0.8px lightgray;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.homeMenu-section {
    border-bottom: solid 1px black;
}
.card {
    border: none;
    border-radius: 0;
    padding: 0;
}
.my-collapse.show-collapse {
    max-height: 800px;
    height: auto;
    transition:max-height 0.7s ease-in-out;
}
.my-collapse {
    overflow:hidden;
    transition:max-height 0.5s ease-out; 
    height:auto;
    max-height:0px;
}

/* ====== 2.2 - Product Section ===== */
#home-filterButton {
    display: none;
    width: 60%;
    height: 50px;
    background-color: gray;
    color: white;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1.5em;
}

#top3products-wrapper {
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

/***********************************************/
/* === 1.0 - Responsive and Media Queries ==== */
/***********************************************/

/**************  Laptop Device  ****************/
@media (min-width: 992px) {
    #homeMenu {
        display: block;
    }
}

/**************  Tablet Device  ****************/
@media (min-width: 768px) and (max-width: 991px) {
    #homeMenu-section {
        width: 33.333%;
    }
    #homeMenu {
        display: block;
    }
    #homeProducts-section {
        width: 66.666%;
    }
    #top3products-wrapper {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 10px;
    }
}

/**************  Phone Landscape  ***************/
/**************  Phone Portrait  ***************/
@media (min-width: 20px) and (max-width: 767px) {
    #home-filterButton {
        display: block;
    }
    #home-container {
        flex-direction: column;
    }
    #homeMenu-section {
        width: 100%;
        padding: 0;
    }
    #homeMenu {
        display: none;
    }
    #homeProducts-section {
        width: 100%;
    }
    #top3products-wrapper {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 10px;
    }
}
