#message {
    height: 50px;
}
#myaccount-sidebar-container {
    padding-right: 15px; padding-left: 20px;
}
#myaccount-sidebar {
}
.myaccount-sidebar-item {
    display: flex;
    align-items: center;
    min-height: 55px; width: 100%;
    padding-left: 1em;
}
.myaccount-sidebar-item-hover {
    background-color: rgb(235, 235, 235);
}
.breadcrumb {
    text-align: center;
    justify-content: center;
    font-size: 12px;
}
.label-margin label, label.label-margin {
    width: 150px;
    margin-right: 60px;
}
.subtitle-account {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}
.input-infos-form {
    width: 300px; height: 35px;
}
#user_modification_sex label{
    margin-right: 40px;
}
#user_modification_sex label{
    margin-right: 40px;
}
#user_modification_sex input{
    margin-right: 5px;
}
.form-infos-input-section {
    margin-bottom: 5px;
}
#submit-infosform-button {
    margin-top: 15px;
}
#birthdate-form {
    height: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
#user_modification_birthDate {
    display: flex;
}
#user_modification_birthDate_year, #user_modification_birthDate_day, #user_modification_birthDate_month {
    width: 33.34%;
    border-radius: 0;
}
#hello-user {
    width: 100%;
    margin-bottom: 7px;
    text-align: center;
}
hr {
    margin-left: 0; margin-right: 0;
    width: 100% !important;
}
#main-section-first div.square-item {
    border: 1px lightgray;
    /* border-bottom: solid 2px lightgray; */
    box-sizing: border-box;
}
.main-section-floor {
    width: 100%; height: 200px;
    justify-content: space-between;
    margin-bottom: 20px;
    border: solid 2px lightgray;
}
.adress-without {
    min-height: 250px;
}
.main-section-floor2 {
    width: 100%;
    justify-content: space-between;
    background-color: rgb(74, 79, 117);
    color: white;
    margin-bottom: 20px;
}
.square-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
#support-square {
    background-color: rgb(254, 98, 78);
    color: white !important;
}
button.account-action-button {

}
#secondmainsection-firstfloor {
    height: 80px;
    border-bottom: solid 1px whitesmoke;
}
#secondmainsection-secondfloor {
    height: 165px;
}
#secondmainsection-secondfloor div {
    border-right: solid 1px whitesmoke;
}
/* Font */
.sidebar-menu-title {
    font-size: 14px;
    text-transform: uppercase;
    color: gray;
}
.square-item-title {
    font-size: 30px;
}
@media (max-width: 992px){
    #myaccount-sidebar {
        display: none;
    }
    #myaccount-main-section {
        width: 100%;
    }
    .main-section-first {
        flex-direction: column;
    }
}

