.sidebar {
	grid-column:1/2;
	width:100%;
	height:100vh;
	border-right:1px solid #718093;
	font-family:'Roboto', sans-serif;
	background-color: var(--light-grey);
}
.sidebar-title {
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:1.5rem;
	padding:.8em 0;
}

.side-list {
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.sidebar-items{
	list-style-type:none;
	width: 100%;
	height:100%;
	display:flex;
}

.sidebar-link:hover{
	background-color: #fbc531;
}

.sidebar-link {
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	font-size: 1.1em;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid #718093;
	text-align:center;
}

.sidebar-link:nth-child(1){
	border-top:1px solid #718093;
}
