<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Bonne Wine
		{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{{asset('build/app.css')}}">
	{% block stylesheets %}
	{# {{encore_entry_link_tags("app")}} #}
	{% endblock %}
</head>

<body>
	{% include "layout/navbar.html.twig" %}
	{% block body %}{% endblock %}
	{% block javascripts %}{% endblock %}
</body>

</html>