/********************************************************************/
/* ================ 1 - My-account-sidebar Generals =============== */
/********************************************************************/

#myaccount-sidebar {
}

/********************************************************************/
/* ================== 2 - My-account-sidebar Items ================ */
/********************************************************************/

div.myaccount-sidebar-item {
    display: flex; align-items: center;
    min-height: 55px; width: 100%;
    padding-left: 1em;
}
div.myaccount-sidebar-item.hover {
    background-color: rgb(235, 235, 235);
}

/********************************************************************/
/* ======================== 3 - Media Queries ===================== */
/********************************************************************/



